<h3>Esempio Direttiva ngIf</h3>
<p>Il tempo di oggi</p>

<hr>
<p *ngIf="meteo=='Soleggiato'; else bruttoTempo;">Oggi sarà una bella giornata</p>
<ng-template #bruttoTempo> <p>Oggi è previsto tempo variabile</p> </ng-template>


<hr>
<p *ngIf="meteo=='Soleggiato'; then belTempo else bruttoTempo;"></p>
<ng-template #belTempo   > <p>Oggi sarà una bella giornata</p>       </ng-template>
<ng-template #bruttoTempo> <p>Oggi è previsto tempo variabile </p>p> </ng-template>


<hr>
<p *ngIf="tempo_bello; then belTempo else bruttoTempo;"></p>
<ng-template #belTempo   > <p>Oggi sarà una bella giornata</p>       </ng-template>
<ng-template #bruttoTempo> <p>Oggi è previsto tempo variabile </p>p> </ng-template>

